@use "../../sass/utils/colorVariable.scss" as color;

.input {
  border: 1px solid color.$base-color-primary;
  padding: 1rem 0rem;
  text-indent: 1rem;
  border-radius: 1.7rem;
  width: 100%;
  margin-bottom: 0.3rem;

  &:focus {
    outline: 0;
  }
}
