@import "../../../sass/mixins/mediaQueries.scss";

.form {
  width: 50%;

  @include medium {
    width: 100%;
    display: flex;
    flex-direction: column;

    Button {
      margin: 0 auto;
    }
  }

  @include small {
    width: 100%;

    Button {
      margin: 0 auto;
    }
  }
}
